<!DOCTYPE html>
<html lang="en">
   <%- include('../partials/head'); %>
<body>
    <%- include('../partials/header'); %>
    
    <br/>
    <section>
      <h2 class="ofertas">Ofertas</h2>
    </section>
    <section class="productos">
        <div class="flex-container">
            <% productos.forEach( producto => { %>
                <div class="flex-item">
                    <a href="productDetail/<%= producto.id %>"><img src="/img/<%= producto.image %>" /></a>
                    <div class="detalles">
                        <div class="descripcion-container">
                            <a href="productDetail/<%= producto.id %>"><h3 class="nombre"><%= producto.productName %></h3></a>
                            <p class="descripcion"><%= producto.description %></p>
                        </div> 
                        <div class="precio-container">
                            <a href="productDetail/<%= producto.id %>"><button class="verMas">Ver Mas</button></a>
                            <p class="precio">$ <%= producto.price %></p>
                        </div>
                    </div>
                </div>
            <% }); %>
        </div>
    </section>
    <%- include('../partials/footer'); %>
</body>
</html>

