<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>
<body>
    <%- include('./partials/header') %>
    <main>
        <h1>Carrito    <span><i class="fa fa-shopping-cart"></i></span></h1>
        <table id="tabla-productos">
            <tr>
                <th></th>
                <th id=txtalileft>Articulo</th>
                <th></th>
                <th>Cantidad</th>
                <th>Unidad</th>
                <th>Total</th>
            </tr>
            <% shoppingCartItems.forEach( items => { %>
                <tr class="articulo">
                    <td class="bin"><i class="fas fa-trash-alt"></i></td>
                    <td id=txtalileft><%= item.productId.productName %></td>
                    <td class="imagenes"><img src="/img/<%= item.productId.image %>" alt=""></td>
                    <td><div class="cajaselect">
                        <span class="selec selectmenos icon icon-minus"><i class="fas fa-plus-square"></i></span>
                        <input type="text" id="quantity" name="quantity" value="2" min="1" class="quantity-selector quantity-input" readonly="">
                        <span class="selec selecmas icon icon-plus"><i class="fas fa-plus-square"></i></span>
                    </div></td>
                    <td>$7100</td>
                    <td>$7100</td>
                </tr>
            <% }); %>
            <tr class="articulo">
                <td class="bin"><i class="fas fa-trash-alt"></i></td>
                <td id=txtalileft>Cámara infrarroja aérea</td>
                <td class="imagenes"><img src="/img/r1.jpg" alt=""></td>
                <td><div class="cajaselect">
                    <span class="selec selectmenos icon icon-minus"><i class="fas fa-plus-square"></i></span>
                    <input type="text" id="quantity" name="quantity" value="2" min="1" class="quantity-selector quantity-input" readonly="">
                    <span class="selec selecmas icon icon-plus"><i class="fas fa-plus-square"></i></span>
                </div></td>
                <td>$1400</td>
                <td>$2800</td>
            </tr>
            <tr class="articulo">
                <td class="bin"><i class="fas fa-trash-alt"></i></td>
                <td id=txtalileft>Combo de camaras más decodificador</td>
                <td class="imagenes"><img src="/img/r7.jpg" alt=""></td>
                <td><div class="cajaselect">
                    <span class="selec selectmenos icon icon-minus"><i class="fas fa-plus-square"></i></span>
                    <input type="text" id="quantity" name="quantity" value="1" min="1" class="quantity-selector quantity-input" readonly="">
                    <span class="selec selecmas icon icon-plus"><i class="fas fa-plus-square"></i></span>
                </div></td>
                <td>$12200</td>
                <td>$12200</td>
            </tr>
            <tr class="articulo">
                <td></td><td></td><td></td><td></td><td>Total</td><td>$20700</td>
            </tr>

        </table>
    </main>
    <%- include('./partials/footer') %>
</body>
</html>