<!DOCTYPE html>
<html lang="en">

   <%- include('./partials/head'); %>
<body>
    <%- include('./partials/header'); %>
    <section>
      <div class="hero">
        <img src="img/slider_01.png" />
    </div>
    </section>
    <section class="buscar">
      <label for="checkbox">
        <input class="busqueda" type="text" placeholder="Buscar productos" name="Buscar productos">
        <i class="fa fa-search"></i>
    </label>
    </section>
    <br/>
    <section>
      <h2 class="ofertas">Ofertas</h2>
    </section>
    <section class="productos">
        <div class="flex-container">
            <% productos.forEach( producto => { %>
                    <div class="flex-item flex-item-1">
                        <a href="productDetail/<%= producto.id %>"> 
                         <figure> <img src="/img/<%= producto.productImg %>" /></figure>
                         <div class="detalles">
                            <h3 class="nombre"><%= producto.productName %></h3>
                            <p class="descripcion"><%= producto.productDescription %></p>
                            <div class="price-container">
                              <button class="verMas">Ver detalles</button>
                              <p class="precio">$ <%= producto.productPrice %></p>
                            </div>
                         </div>
                        </a>
                     </div>
            <% }); %>
        </div>
    </section>
    <%- include('./partials/footer'); %>
</body>
</html>

