<body id="product">
    <div class="product-image">                
        <figure> <img src="/img/<%= producto.image %>" /></figure>
    </div>
    <div class="flex-item">
        <!--
            tomamos el producto que nos envia el response de la ruta /producDetail/:id
            y lo renderizamos accediendo a sus propiedades
        -->

        <div class="detalles">
            <p><%= producto.category.name %></p>
            <h2><%= producto.productName %></h2>
            <% if (producto.detail) { %>
                <p>
                    <%= producto.detail %>
                </p>
            <% } else { %>
                <p class="descripcion"> <%= producto.description %></p>
            <% } %>
            <br />
            <p class="precio"><b><s>$ <%= producto.price %>.-</s></b></p>
            <p class="precio"><b>$ <%= (producto.price - (producto.price * producto.discount) / 100) %>.-</b></p>
            <br />
            <form action="/shoppingCart/addCart" method="POST">
                <input type="hidden"  name="productoId" value="<%= producto.id%>">
                <input  type="number" name="cantidad" value="1">
                <button type="submit" class="agregar">Agregar al carrito</button>
            </form>
        </div>
    </div>    
</body>
