<!DOCTYPE html>
<html lang="en">
<!-- <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css" rel="stylesheet">
    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
    <!-- <link rel="stylesheet" href="/css/estilos_globales.css"> 
    <link rel="stylesheet" href="/css/editProduct.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/footer.css">
</head> -->
<%- include('../partials/head'); %>
<body>
    <%- include('../partials/header') %>
    <main>
        <h2>Agregar un nuevo producto</h2>
        <form action="/admin/editar/<%= producto.id%>?_method=PUT" method="POST" enctype="multipart/form-data" id="formulario">
            <div>
                <img src="/img/<%= producto.image %>" alt="Imagen de <%= producto.name %>">
                <input type="file" name="imagen">
            </div>
            <div>
                <label for="articulo">Artículo</label>
                <input type="text" name="articulo" value="<%= producto.name %>">
                <label for="descripcion">Descripcion</label>
                <input type="text" name="descripcion" value="<%= producto.description %>"/>
                <label for="detail">Detalle de producto</label>
                <textarea name="detail"><%= producto.detail %></textarea>
                <label for="categoria">Categoria</label>
                <select name="categoria">
                    <option disabled selected><%= producto.category %></option>
                    <option value="Video Vigilancia">Video Vigilancia</option>
                </select>
                <label for="subcategoria">Subcategoria</label>
                <select name="subcategoria" id="">
                    <option value="Video Vigilancia">Video Vigilancia</option>
                </select>
                <!-- <label for="Color">Color</label>
                <input type="text" value="color"> -->
                <label for="precio">Precio</label>
                <input type="text" name="precio" value="<%= producto.price %>">
                <label for="descuento">Descuento</label>
                <input type="text" name="descuento">
                <label for="stock">Stock</label>
                <input type="text" name="stock">
                <label for="status">Estado</label>
                <input type="text" name="status">
                <label for="sku">Codigo de barra</label>
                <input type="text" name="sku">
                <button type="submit">Guardar cambios</button>
            </div>
        </form>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>