<!DOCTYPE html>
<html lang="es">
    <%- include('../partials/head'); %>
    <body>
        <%- include('../partials/header'); %>
            <main>
                <br>
                <section class="row" style="width: 80%; margin: 0 auto;">
                  <article class="col-12 ">
                    <h2 class="display-6 blue text-center pt-2">Administrador de Productos</h2>
                  </article>
                  <article class="col-12">
                    <a href="/admin/crear"><ion-icon name="add-circle-outline"></ion-icon>Agregar</a>
                  </article>
                  <article class="col-12" >
                  <table class="table">
                      <thead>
                        <tr>
                          <th scope="col">Id</th>
                          <th scope="col">Nombre</th>
                          <th scope="col">Ver</th>
                          <th scope="col">Editar</th>
                          <th scope="col">Borrar</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% productos.forEach( producto => { %>
                        <tr>
                          <td><%= producto.id%> </td>
                          <td><%= producto.productName%> </td>
                          <td><a href="/productDetail/<%= producto.id%> "> <ion-icon name="eye-outline"></ion-icon></a></td>
                          <td><a href="/admin/editar/<%= producto.id%> "> <ion-icon name="pencil-outline"></ion-icon></a></td>
                          <td><form action="/admin/delete/<%= producto.id%>?_method=DELETE" method="POST"><button onclick = " return eliminar()" type="submit"><ion-icon name="trash-outline"></ion-icon></ion-icon></button></form></td>
                        </tr>
                        <% }); %>
                      </tbody>
                    </table> 
                  </article>       
                </section>
                <script>
                  function eliminar() {
                  let result =  confirm("Estás seguro que quieres eliminar el producto?");
                    if (result==false) {
                      return event.preventDefault();
                    }
                     
                  }
                  </script>
                <script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
            </main>
        <%- include('../partials/footer'); %>
    </body>
</html>



