<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
    <main>
        <h1>Carrito    <span><i class="fa fa-shopping-cart"></i></span></h1>
        <% if(typeof(errors) != 'undefined'){%>
            <ul class="alert alert-danger">
               <% errors.forEach(error => { %>
                    <li><%= error.msg%></li>
               <%});%>
            </ul>
        <%}%>
        <table id="tabla-productos">
            <tr>
                <th></th>
                <th id=txtalileft>Articulo</th>
                <th></th>
                <th>Cantidad</th>
                <th>Unidad</th>
                <th>Total</th>
            </tr>
            <%  items.forEach( item => { %>
                <tr class="articulo">
                    <td class="bin"><i class="fas fa-trash-alt"></i></td>
                    <td id=txtalileft><%= item.productName %></td>
                    <td class="imagenes"><img src="/img/<%= item.image %>" alt=""></td>
                    <td><div class="cajaselect">
                        <input type="text" id="quantity" name="cantidad" value="1" min="1" class="quantity-selector quantity-input">
                    </div></td>
                    <td><%= item.productId.price %></td>
                    <td><%= item.price %></td>
                </tr>
            <% }); %>
            <tr class="articulo">
                <td class="bin"></i></td>
                <td id=txtalileft></td>
                <td class="imagenes"></td>
                <td></td>
                <td></td>
                <td><form action="/carrito/comprar" method="post"><button type="submit" class="btn btn-primary">Comprar</button></form></td>
            </tr>
        </table>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>